.list {
    display: flex;  /* Display the child items in a Flex layout */
}

.shop {
    flex-basis: 16%;
    border: 1px;
    padding: 1em;
    margin: 0.5em;
    text-align: center; /* Center align the text in the boxes */
}